.searchbar {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50px;
  background-color: royalblue;
}
.form {
  position: relative;
}
/* .searchbarLabel {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;

  background-color: skyblue;
  border: 1px solid;
} */

.searchbarInput {
  width: 300px;
  padding-left: 25px;
  margin-right: 5px;
}

.searchbarButton {
  display: inline-block;
  position: absolute;
  left: 0;
  top: center;
  width: 20px;
  height: 20px;
  border: 0;
  background-color: transparent;
  /* background-image: url('https://image.flaticon.com/icons/svg/149/149852.svg'); */
  background-image: url('../../images/+search-lens.svg');

  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}
